.error-list > p {
    background: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 3px;
    padding: 15px;
}

.projeto-upload {
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
#id-projeto-arquivo {
    display: none;
}

.label-block {
    display: block;
}

.file-upload-label {
/*    display: inline-block;
    background: rgb(26, 139, 21);
    color: white;
    font-size: 1.55rem;
*/    /*font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;*/
}