body {
    font-family: Arial, Helvetica, sans-serif;
}


input[type=text] {
    padding: 4px;
}

#ajaxLoadAni {
    background: #3A3A3A;
    color: #fff;
    display: none;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 40%;
    padding: 8px;
    width: 106px;
    z-index: 9999;
}

#ajaxLoadAni span {
    float: right;
    margin: 2px 0 0 0;
}

#tabs {
    font-size: .9em;
    margin: 0 auto;
    width: 800px;
}

.ui-widget-content {
    font-size: .8em;
}

#records {
    font-size: 1em;
    width: 100%;
}

#records tr:nth-child(2n) {
    background: #EAEAEA;
}

#records tr:hover {
    background: #CCCCCC;
}

#records td {
    padding: 6px;
    margin: 8px;
}

#delConfDialog, #msgDialog, #updateDialog {
    font-size: 1em;
}

#updateDialog label {
    display: inline-block;
    text-align: right;
    width: 90px;
}

#create label {
    display: inline-block;
    text-align: right;
    width: 60px;
}

/* Validation label */
#create label.error {
    color: red;
    font-size: .9em;
    padding: 4px;
    margin: 0 0 0 4px;
    width: auto;
}

#participante_list_id ul {
    width: 206px;
    border: 1px solid #eaeaea;
    position: absolute;
    z-index: 9;
    background: #f3f3f3;
    list-style: none;
}
.input_container ul li {
    padding: 2px;
}
.input_container ul li:hover {
    background: #eaeaea;
}

#participante_list_id {
    display: none;
    width: 500px;
}